body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'Quicksand';
	src: local('Quicksand'), url(./fonts/Quicksand.ttf) format('truetype');
}
