:root {
	--black: #212121;
	--blue: #0f61a0;
	--darkGrey: #646464;
	--lightGrey: #e6e6e6;
	--white: #fafafa;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
